@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.popins-family {
    font-family: "Poppins", sans-serif;
}

.sec-1-bg {
    background-image: url(../image/png/Home-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
}

.mx-1320 {
    max-width: 1320px !important;
}

.gap-32 {
    gap: 32px;
}

.text-hover {
    color: white;
}

.text-hover:hover {
    color: #FFA800;
}

.home-btn {
    padding: 7px 23px 7px 23px;
    border-radius: 23.5px;
    background: linear-gradient(90deg, #FFA800 0%, #F06500 100%);
    transition: all 200ms linear;
}

.home-btn:hover {
    background: linear-gradient(90deg, #ad754e 0%, #b37b0b 100%);
}

.curser-pointer {
    cursor: pointer;
}

.nav-bg-layer {
    max-width: 100%;
    height: 100px;
    background: #000000BF;
    backdrop-filter: blur(20px);
}

.menu-lines {
    width: 30px;
    height: 5px;
    margin-bottom: 5px;
    display: flex;
    z-index: 10;
    transition: all 300ms linear;
    transform-origin: left;
    border-radius: 10px;
    background-color: #fff;
}

.rotate40 {
    transform: rotate(40deg);
}

.rotate-45 {
    transform: rotate(-44deg);
}

.z-5 {
    z-index: 5;
}

.mx-1272 {
    max-width: 1272px;
}

.pt-227 {
    padding-top: 227px;
}

.mx-660 {
    max-width: 660px;
}

.section-1-top-para {
    max-width: 1320px;
    padding: 24px;
    border-radius: 10px;
    z-index: 4;
    transform: translateY(-114px);
    background: linear-gradient(94.88deg, rgba(255, 255, 255, 0.05) 0.97%, rgba(255, 255, 255, 0) 103.14%);
    position: relative;
    backdrop-filter: blur(32px);
}

.section-1-top-para::before {
    content: "";
    position: absolute;
    inset: 0;
    border-radius: 10px;
    padding: 1px;
    background: linear-gradient(94.88deg, rgba(255, 255, 255, 0.05) 0.97%, rgba(255, 255, 255, 0) 103.14%);
    mask:
        linear-gradient(#000 0 0) content-box,
        linear-gradient(#000 0 0);
    mask-composite: exclude;
}

.sec-2-right-layer {
    right: 0;
    top: 25%;
}

.sec-2-left-layer {
    left: 0;
    bottom: -25%;
}

/* ------------section-3------------ */
.h-812 {
    min-height: 812px;
}

.cras-btns {
    width: 71px;
    height: 71px;
    border-radius: 100%;
    background: linear-gradient(90deg, #FFA800 0%, #F06500 100%);
}

.cras-btns:hover {
    background: white;
    color: black;
}

.cras-btns-2 {
    width: 71px;
    height: 71px;
    border-radius: 100%;
    background: white;
    color: black;
}

.cras-btns-2:hover {
    background: linear-gradient(90deg, #FFA800 0%, #F06500 100%);
    color: white;
}

.sec-3-btns {
    max-width: 660px;
    border-radius: 46px;
    background: #151313;
}

.sec-3-btns:hover {
    background: black;
}

.m-11 {
    margin: 11px 0 11px 13px;
}

.mt-48 {
    margin-top: 48px;
}

.sec-3-img {
    transform: translateX(192px);
}

/* ------------section-4---------------- */
.mt-80 {
    margin-top: 80px !important;
}

.gap-25 {
    gap: 25px;
}

.p-60 {
    padding: 60px;
}

.box-2 {
    height: 50px;
    width: 50px;
    border-radius: 4px;
}

.mt-15 {
    margin-top: 15px;
}

.pl-50 {
    padding-left: 50px;
}

.pt-17 {
    padding-top: 17px;
}

.mb-22 {
    margin-bottom: 22px;
}

.pb-30 {
    padding-bottom: 30px;
}

.pt-14 {
    padding-top: 14px !important;
}

.pb-22 {
    padding-bottom: 22px !important;
}

.mb-32 {
    margin-bottom: 32px;
}

.mt-62 {
    margin-top: 62px;
}

.pb-50 {
    padding-bottom: 50px;
}

.white-space {
    white-space: nowrap !important;
}

.table-1 {
    border-collapse: collapse;
}

.table-parent {
    background: linear-gradient(94.88deg, rgba(255, 255, 255, 0.05) 0.97%, rgba(255, 255, 255, 0) 103.14%);
    position: relative;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
}

.table-parent::before {
    content: "";
    position: absolute;
    inset: 0;
    border-radius: 10px;
    padding-left: 2px;
    padding-right: 2px;
    padding-bottom: 2px;
    background: linear-gradient(94.88deg, rgba(255, 255, 255, 0.1) 0.97%, rgba(255, 255, 255, 0) 103.14%);
    mask:
        linear-gradient(#000 0 0) content-box,
        linear-gradient(#000 0 0);
    mask-composite: exclude;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
}

.img-parent {
    position: relative;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    background: linear-gradient(94.88deg, rgba(255, 255, 255, 0.05) 0.97%, rgba(255, 255, 255, 0) 103.14%);
}

.img-parent::before {
    content: "";
    position: absolute;
    inset: 0;
    border-radius: 10px;
    padding-right: 2px;
    padding-top: 2px;
    padding-left: 2px;
    background: linear-gradient(94.88deg, rgba(255, 255, 255, 0.1) 0.97%, rgba(255, 255, 255, 0) 103.14%);
    mask:
        linear-gradient(#000 0 0) content-box,
        linear-gradient(#000 0 0);
    mask-composite: exclude;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
}

.card-box {
    height: 154px;
    padding: 16px 20px;
    position: relative;
    border-radius: 10px;
    background: linear-gradient(94.88deg, rgba(255, 255, 255, 0.1) 0.97%, rgba(255, 255, 255, 0) 103.14%);
}

.card-box::before {
    content: "";
    position: absolute;
    inset: 0;
    border-radius: 10px;
    padding: 2px;
    background: linear-gradient(94.88deg, rgba(255, 255, 255, 0.1) 0.97%, rgba(255, 255, 255, 0) 103.14%);
    mask:
        linear-gradient(#000 0 0) content-box,
        linear-gradient(#000 0 0);
    mask-composite: exclude;
    backdrop-filter: blur(32px);
    border-image-source: linear-gradient(95.21deg, rgba(255, 255, 255, 0.2) -0.59%, rgba(255, 255, 255, 0.092) 106.99%);
}

/* ------------accordion--------------- */
/* footer */
.footer .accordion {
    --bs-accordion-btn-focus-box-shadow: none !important;
    --bs-accordion-border-width: none !important;
    width: 100%;
    margin-top: 46px !important;
}

.footer .accordion-button {
    margin-top: 24px !important;
    padding: 16px 22px 16px 16px !important;
    background: linear-gradient(94.88deg, rgba(255, 255, 255, 0.05) 0.97%, rgba(255, 255, 255, 0) 103.14%) !important;
    backdrop-filter: blur(32px) !important;
    border-top-left-radius: 10px !important;
    border-top-right-radius: 10px !important;
    border-bottom-right-radius: 10px !important;
    border-bottom-left-radius: 10px !important;
}

.footer .accordion-body {
    padding: 0px 16px 16px 16px !important;
    background: linear-gradient(94.88deg, rgba(255, 255, 255, 0.09) 0.97%, rgba(255, 255, 255, 0) 103.14%) !important;
    backdrop-filter: blur(32px) !important;
}

.footer .accordion-item {
    background: linear-gradient(94.88deg, rgba(255, 255, 255, 0.05) 0.97%, rgba(255, 255, 255, 0) 103.14%) !important;
    backdrop-filter: blur(32px) !important;
    border-bottom-left-radius: 10px !important;
    border-bottom-right-radius: 10px !important;
    border-top-left-radius: 10px !important;
}

.footer .accordion-button:not(.collapsed) {
    border-bottom-right-radius: 0px !important;
    border-bottom-left-radius: 0px !important;
}

.footer .accordion-button::after {
    background-image: url(../image/svg/accordion-up-svg.svg) !important;
}

.mt-32 {
    margin-top: 32px;
}

.mt-73 {
    margin-top: 73px;
}

.box-3::before {
    content: "";
    position: absolute;
    inset: 0;
    padding: 1px;
    border-radius: 10px;
    background: linear-gradient(95.21deg, rgba(255, 255, 255, 0.2) -0.59%, rgba(255, 255, 255, 0.092) 106.99%) !important;
    mask:
        linear-gradient(#000 0 0) content-box,
        linear-gradient(#000 0 0);
    mask-composite: exclude;
}

.footer-img {
    right: 0;
}

/* --------------time-line------------- */
.roadtmap-right-image {
    right: 0;
}

.roadmap-circle-image {
    right: 0;
}

.py-59 {
    padding-top: 59px;
    padding-bottom: 59px;
}

.roadmap::after {
    content: '';
    position: absolute;
    width: 6px;
    background-color: white;
    top: 20px;
    bottom: 0;
    left: 50%;
    margin-left: -3px;
    height: 75%;
}

.timeline {
    padding: 10px 40px;
    position: relative;
    background-color: inherit;
    width: 50%;
}

.timeline::after {
    content: '';
    position: absolute;
    width: 36px;
    height: 36px;
    right: -18px;
    background: linear-gradient(180deg, #FFA800 0%, #F06500 100%);
    top: 15px;
    border-radius: 50%;
    z-index: 1;
}

.left {
    left: 0;
}

.right {
    left: 50%;
}

.right-0 {
    right: 0;
}

.right::after {
    left: -16px;
}

.mx-547 {
    max-width: 547px;
}

.pb-456 {
    padding-bottom: 456px;
}

/****** accordion ******/
.mt-8 {
    margin-top: 8px;
}

.position-relative {
    position: relative;
}

.parent {
    width: 92px;
    height: 67px;
}

.number {
    color: #ffffff;
}

.pt-24 {
    padding-top: 24px;
}

.mt-32 {
    margin-top: 32px;
}

.gap-23 {
    gap: 23px;
}

.mt-70 {
    margin-top: 70px;
}

.ml-78 {
    margin-left: 78px;
}

.pt-8 {
    padding-top: 8px;
}

@media(min-width:576px) {
    .py-70 {
        padding: 30px;
    }

}

@media(max-width:575.98px) {
    .center-column {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    .gap-23 {
        gap: 6px;
    }

    .pb-50 {
        padding-bottom: 50px;
    }

    .sec-3-img {
        transform: translateX(-1px);
    }
}

@media (max-width:767.98px) {
    .card-1 {
        margin-top: 0px;
    }

    .text-left {
        text-align: left;
    }

    .roadmap::after {
        left: 45px;
    }

    .timeline {
        width: 100%;
        padding-left: 70px;
        padding-right: 25px;
    }

    .timeline::before {
        left: 60px;
        border: medium solid white;
        border-width: 10px 10px 10px 0;
        border-color: transparent white transparent transparent;
    }

    .left::after,
    .right::after {
        left: 15px;
    }

    .right {
        left: 0%;
    }
}

@media (max-width: 991.98px) {
    .nav-link {
        display: flex !important;
        flex-direction: column;
        background: #00243C !important;
        width: 100%;
        min-height: 100vh;
        position: fixed;
        justify-content: center;
        bottom: 0;
        right: -100% !important;
        top: 0%;
        transition: all 300ms linear !important;
        z-index: 3;
    }

    .show-navbar {
        right: 0 !important;
    }

    .center {
        text-align: center;
        margin: auto;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .mt-82 {
        margin-top: 82px;
    }

    .sec-1-bg {
        background-position: left;
    }

    .card-1 {
        margin-top: 24px;
    }

    .gap-32 {
        gap: 12px;
    }

    .pt-78 {
        padding-top: 78px;
    }

    .mt-32 {
        margin-top: 32px;
        margin-bottom: 32px;
    }

    .pt-50 {
        padding-top: 50px;
    }

    .ml-78 {
        margin-left: 0;
    }
}